@value disabledTextColor from 'styles/mainAppTheme.css';

.container {
    composes: card from 'styles/cards.css';
    margin: auto;
    width: 320px;
    padding: 12px 16px;
    overflow-y: auto;
    margin-top: 16px;
    height: calc(100% - 32px);
}

.totalCosts {
    composes: subHeaderText from 'styles/mainAppTheme.css';
    padding: 6px 0;
}

.valueTitle {
    color: disabledTextColor;
    line-height: 1.1em;
    padding-top: 4px;
}

.value {
    line-height: 1.4em;
    padding-bottom: 4px;
}

.mainCount {
    display: inline-block;
    min-width: 16px;
    text-align: right;
}
