@value primaryColor from 'styles/mainAppTheme.css';

.eventsList {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 6px 16px;
    box-sizing: border-box;
    font-size: 23px;
}

.event {
    composes: card from 'styles/cards.css';
    border: 1px solid primaryColor;
    word-break: break-word;
    padding: 4px;
    box-sizing: border-box;
}

.event + .event {
    margin-top: 4px;
}

